* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

$background: #000000;


body {
  background: linear-gradient(  #2c2377,#1f1f50);
  background-size: cover;
  color: white;
}
